<%- include header.ejs %>

   <a href="/logout">LOGOUT</a> |
   <a href="/store">GO TO STORE</a> |
   <a href="/updateProfile">Update Profile</a>
   <h3>users</h3>
    <table class="table">
      <tr>
        <th> user name </th>
        <th> rank </th>
        <th> id </th>
        <th> vend </th>
        <th> delete </th>
      </tr>
      <% for({username,rank,id,vendor} of users) {%>
      <tr>
          <td><%= username %></td>
          <td>
            <select onchange="updateUserRank(this.value,<%= id %>)">
              <option value="user" <%= (rank === 'user')? 'selected':'' %> >user</option>
              <option value="vendor"<%= (rank === 'vendor')? 'selected':'' %> >vendor</option>
              <option value="admin"<%= (rank === 'admin')? 'selected':'' %> >admin</option>
            </select>
          </td>
          <td><%= id %></td>
          <td><%= vendor %></td>
          <td><button onclick="deleteUser(<%= id %>)">Delete</button></td>
      </tr>
      <% } %>
    </table>
    <% if(orders.length > 0) {%>
      <h3>Your purchases</h3>
      <table class="table">
        <tr>
          <th>product</th>
          <th>orderNumber</th>
          <th>orderDate</th>
          <th>keytext</th>

        </tr>
        <% for({orderNumber, orderDate, keytext, product} of orders) {%>
        <tr>
          <td><%= product %></td>
          <td title="<%= orderNumber %>"><%= orderNumber.substring(0,10)+'...' %></td>
          <td><%= orderDate.toString().substring(3,15) %></td>
          <td><%= keytext %></td>
        </tr>
        <% }} %>
      </table>
    <h3>Your Products</h3>
    <table class="table">
      <tr>
        <th> productCode </th>
        <th> productName </th>
        <th> productKey </th>
        <th> productVendor </th>
        <th> productDescription </th>
        <th> buyPrice </th>
        <th> salesOrder </th>
      </tr>
      <% for({productCode,productName , productKey, productVendor,productDescription ,buyPrice ,salesOrder} of products) {%>
      <tr>
        <td><%= productCode %></td>
        <td><%= productName %></td>
        <td><%= productKey %></td>
        <td><%= productVendor %></td>
        <td><%= productDescription %></td>
        <td><%= buyPrice %></td>
        <td><%= salesOrder %></td>
      </tr>
      <% } %>
    </table>

    <h2>add a new product below</h2>

   <form action="/vendorProductAdd" method="post"  name="myForm">
    <% let fields = ['productName', 'productKey', 'productDescription', 'buyPrice']
    fields.forEach(e=>{%>
    <div class="form-group">
     <label><%= e %></label>
     <input type="text" class="form-control" name="<%= e %>"id="<%= e %>" >
    </div>
    <% })%>
    <button type="submit" class="btn btn-succcess btn-lg">Submit</button>
   </form>
<script>
function updateUserRank(roll,id){
console.log(JSON.stringify({roll,id}))
fetch('/adminupdateuser', {
    method: 'PUT',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
     body: JSON.stringify({
      'role':roll,
      'id': id
  })
}).then(e=>location.reload())
 }

 function deleteUser(id){
  if(!confirm('you are about to delete user: '+id)) return
  fetch('/admindeleteuser', {
    method: 'DELETE',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
     body: JSON.stringify({
      'id': id
  })
}).then(e=>location.reload())
 }
</script>

 <%- include footer.ejs %>
