<%- include header.ejs %>



    <form action="/pay" method="post">
      <select name="product" id="product" >
          <option value="med-tech software key">med-tech software key</option>
          <option value="med-line software key">med-line software key</option>
      </select>
    <h2>Buy For $25.00</h2>
      <input type="submit" value="Buy" />
    </form>


    <a href="/logout">LOGOUT</a> |
    <a href="/updateProfile">Update Profile</a>
    <% if(rank != 'user') { %>
    | <a href="/home">BACK TO CONTROL PANEL</a>


    <% } %>
    <% if(data.length > 0) {%>
    <h3>Your purchases</h3>
    <table class="table">
      <tr>
        <th>product</th>
        <th>orderNumber</th>
        <th>orderDate</th>
        <th>keytext</th>

      </tr>
      <% for({orderNumber, orderDate, keytext, product} of data) {%>
      <tr>
        <td><%= product %></td>
        <td title="<%= orderNumber %>"><%= orderNumber.substring(0,10)+'...' %></td>
        <td><%= orderDate.toString().substring(3,15) %></td>
        <td><%= keytext %></td>
      </tr>
      <% }} %>
    </table>


    <script type="text/javascript" src="https://www.medicalnewstoday.com/extnews.php?custom=y&id=118554&h=5&b=ddddff&fc=000000&fs=2&sb=n&c=0"></script>


    <h2>Bookmarks</h2>
    <p id="bookmarkdiv" ></p>


    <h2>Rss Feed</h2>
    <p>select feed</p>


    <select name="rssfeed" id="rssfeed" onchange="getRss(this.value)">
      <% feeds.forEach(feed=>{%>
      <option value="<%=feed.link%>"><%= feed.feed %></option>
      <%})%>
    </select>


    <p id="feed" data-id="<%= id%>"></p>


    <%- include storeScript.ejs %>
    <%- include footer.ejs %>
